<div class="container text-center mt-5">

  <mat-card>

  <mat-card-header>

  <mat-icon aria-hidden="false">storefront</mat-icon>

  <span class="ms-2">Bienvenido a Product Store</span>

  </mat-card-header>

  <mat-card-content>

  <p>Explora nuestros productos y llena tu carrito de compras.</p>

  </mat-card-content>

  <mat-card-actions>

  <button mat-raised-button color="primary" routerLink="/products">

  Ver productos

  </button>

  <a mat-button routerLink="/cart">Ver carrito</a>
  <a mat-button routerLink="/about">Acerca de</a>

  </mat-card-actions>
  </mat-card>
  </div>
